/*
Theme: AlexanderWagnerDev
Author: AlexanderWagnerDev.at
Version: 1.0
License: 
Style: Light
*/

* {
    scrollbar-width: thin;
    scrollbar-color: #283244;
}

.awdev-navbar {
    background-color: rgb(48, 74, 95);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.awdev-header-logo {
    padding: 2.5px;
    margin-right: 10px;
    margin-left: auto;
    width: 65px;
    height: auto;
}

.awdev-nav-menu a {
    padding: 10px;
    color: rgb(148, 171, 182);
    text-decoration: none;
    margin-left: 16px;
    margin-right: auto;
    font-weight: 700px;
}

.awdev-nav-menu a:hover {
    color: rgb(99, 137, 218);
    text-decoration: none;
}

.awdev-headline {
    margin: 0px;
    padding: 0px;
    margin-left: 0px;
    margin-right: auto;
}

.awdev-headline-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.awdev-headline-link:hover {
    color: grey;
    text-decoration: none;
}

.awdev-large-width-img {
    display: flex;
    border: #283244;
    border-radius: 6px;
    background-color: aliceblue;
    width: auto;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #313131;
    color: rgb(216, 216, 216);
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.awdev-text-b-center {
    text-align: center;
    font-weight: bold;
}

main {
    display: auto;
}

.awdev-title {
    color: rgb(0, 0, 0);
    text-align: center;
}

.awdev-dark-light-button {
    margin-right: 10px;
    margin-left: auto;
    background-color: #4c77af;
    color: black;
    font-size: medium;
    border: none;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

footer {
    background-color: rgb(2, 49, 90);
}

.awdev-legal-content {
    background-color: rgb(2, 49, 90);
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
}

.awdev-legal-text {
    color: royalblue;
    letter-spacing: 0.025em;
}

.awdev-legal-text-link {
    color: royalblue;
    text-decoration: none;
}

.awdev-legal-text-link:hover {
    color: rgb(27, 152, 190);
    text-decoration: none;
}

.awdev-author {
    padding: auto;
    font-size: 12px;
    margin-right: 16px;
    margin-left: 16px;
}

.awdev-author-a {
    color: grey;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700px;
}

.awdev-author-a:hover {
    color: rgb(35, 182, 35);
    text-decoration: none;
}

#awdev-footer-cookie,
#awdev-footer-cookie * {
    box-sizing: border-box;
}

#awdev-footer-cookie {
    font-size: 16px;
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 60px;
    background: #303030;
    color: #fff;
}
    
#awdev-footer-cookie a {
    color: #fff;
}

#awdev-footer-cookie #description {
    float: left;
}

#awdev-footer-cookie #accept {
    float: right;
}

#awdev-footer-cookie #accept a {
    border: 1px solid #fff;
    padding: 5px 10px;
    text-decoration: none;
}

@media (max-width: 1200px) {
    #awdev-footer-cookie {
        padding-top: 30px;
        padding-bottom: 30px;
        line-height: inherit;
        height: auto;
    }

    #awdev-footer-cookie #description {
        width: 100%;
    }

    #awdev-footer-cookie #accept {
        width: 100%;
        margin-top: 15px;
    }

    #awdev-footer-cookie #accept a {
        width: 100%;
        display: block;
        text-align: center;
    }
}